/*
General
*/

a {
  color: #fff !important;
  text-decoration: underline;
}

body {
  background: #2c3e50;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 300;
}

.btn {
  margin-top: 5px;
  text-transform: uppercase;;
}

#form-input {
  left: 0;
  margin: 20px auto 0;
  right: 0;
  text-align: center;
  width: 320px;
}

h1 {
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 0;
  padding: 60px 0 0;
}

h2 {
  color: #bdc3c7;
  font-size: 24px;
  font-weight: 300;
  margin: 0 0 5px;
}

/*
Footer
*/

.footer {
  font-size: 13px;
  margin: 40px 0 20px;
  text-align: center;
}

/*
Media Queries
*/

@media screen and (max-width: 992px) {
  body {
    font-size: 14px;
  }
  h1 {
    font-size: 36px;
    padding-top: 40px;
  }
  h2 {
    font-size: 22px;
  }
}

@media screen and (max-width: 768px) {
  body {
    font-size: 14px;
  }
  h1 {
    font-size: 32px;
    padding-top: 40px;
  }
  h2 {
    font-size: 18px;
  }
}
